### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### JupyterNotebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# svg image files
*.svg

# backup folder
backup/
